<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pack1" translate="label" sortOrder="500">
            <label>Pack1</label>
        </tab>
        <section id="thng" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Thng</label>
            <tab>pack1</tab>
            <resource>Pack_Thng::config_thng</resource>
            <group id="thngpage" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thng page setting</label>
                <field id="is_enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="header_title" translate="label" type="text" sortOrder="1" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Header title</label>
                </field>
            </group>
        </section>
    </system>
</config>