<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Pack_Thng::thng" title="Thanghh" sortOrder="60">
                        <resource id="Pack_Thng::index" title="Thng Index"/>
                        <!--<resource id="Pack_Thng::subscription" title="Thng subscription"/>-->
                        <resource id="Pack_Thng::subscription" title="Thng subscription"/>
                        <resource id="Pack_Thng::component" title="Thng component"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Pack_Thng::config_thng" title="Thng section"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>