<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pack" translate="label" sortOrder="500">
            <label>Pack</label>
        </tab>
        <section id="thang" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Thang</label>
            <tab>pack</tab>
            <resource>Pack_Thang::config_thang</resource>
            <group id="thangpage" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Thang page settings</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="header_title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Header title</label>
                </field>
                <field id="aa" translate="label" type="text" sortOrder="30" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>aaa</label>
                </field>
            </group>
        </section>
    </system>
</config>