<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
    <plugin name="Pack_Thang::productName" type="Pack\Thang\Plugin\Catalog\ProductAround" sortOrder="1"/>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="thangcommand" xsi:type="object">Pack\Thang\Console\Command\Thangcommand</item>
            </argument>
        </arguments>
    </type>
</config>